


@{

    ViewBag.Title = "Clases";
    Layout = "~/Views/Shared/_Paneles.cshtml";
    
}
@if (Session["User"] == null || !Session["Rol"].Equals("Administrador"))
{
    <script> window.location.href='@Url.Action("Index", "Home")'; </script>
}
else
{

    <main class="app-content">
        <div class="app-title">
            <div>
                <h1><i class="fas fa-school"></i> Clases</h1>
                <p>Crea,elimina y edita clases</p>
                <button class="btn btn-primary" type="button" onclick="openModal();"><i class="fa fa-plus-circle"></i> Nuevo</button>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="@Url.Content("~/Admin/Clases/")">Clases</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <h3 class="text-center">Clases activas hasta el día: @System.DateTime.Now.ToShortDateString()</h3>
                        <br />
                        <section class="pt-5 pb-5">
                            <div class="container">
                                <div class="row">

                                    <div class="col-12">
                                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <div class="row">
                                                     
                                                    

               
                                                            <div class="col-md-4 mb-3">
                                                                <div class="card">
                                                                    <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">
                                                                    <div class="card-body">
                                                                        <h4 class="card-title">@ViewBag.contador XD</h4>
                                                                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                     <!-- aca -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                    </div>
                </div>
            </div>
        </div>
    </main>



    @section scripts{
        <script>

        </script>


    }

}





