
@{
    ViewBag.Title = "Recuperar la contraseña";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="limiter">

    <div class="container-login100">
        <div class="wrap-login100">
            <h1 class="text-center">
                Aca deberia ir el formulario pero ese día me dio flojera
            </h1>
        </div>
    </div>
</div>

