@{
    ViewBag.Title = "Contáctenos";
}
<br />
<br/>

<!-- section -->

<section class="inner_banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="full">
                    <h3>Contáctenos</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end section -->
<!-- section -->
<div class="section layout_padding contact_section" style="background:#f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="full float-right_img">
                    <img src="\img\principal\img10.png" alt="#">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact_form">
                    <form action="#">
                        <fieldset>
                            <div class="full field">
                                <input type="text" placeholder="Tu nombre" name="Tu Nombre" />
                            </div>
                            <div class="full field">
                                <input type="email" placeholder="Email" name="Email" />
                            </div>
                            <div class="full field">
                                <input type="phn" placeholder="Telefono" name="Telefono" />
                            </div>
                            <div class="full field">
                                <textarea placeholder="Mensaje"></textarea>
                            </div>
                            <div class="full field">
                                <div class="center"><button>Enviar</button></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->