
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["User"] != null)
{
    <h2>Index</h2>
}
else
{
    <script> window.location.href='@Url.Action("Index", "Home")'; </script>
}
