
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Paneles.cshtml";
}
@if (Session["User"] == null)
{
    <script> window.location.href='@Url.Action("Index", "Home")'; </script>
}
else
{
    <main class="app-content">
        <div class="row user">
            <div class="col-md-12">
                <div class="profile">
                    <div class="info">
                        <img class="user-img" src="../img/panel/profile.jpg">
                        <h4>@Session["Nombres"]</h4>
                        <p>@Session["Rol"]</p>
                    </div>
                    <div class="cover-image"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile p-0">
                    <ul class="nav flex-column nav-tabs user-tabs">
                        
                        <li class="nav-item"><a class="nav-link active" href="#user-settings" data-toggle="tab">Configuración</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane active" id="user-settings">
                        <div class="tile user-settings">
                            <h4 class="line-head">Adminstrar perfil</h4>
                            <div class="alert alert-danger" role="alert">
                               Este formulario aún no esta funcionando
                            </div>
                            <form>
                                <div class="row mb-4">
                                    <div class="col-md-4">
                                        <label>Nombres</label>
                                        <input class="form-control" type="text" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Apellidos</label>
                                        <input class="form-control" type="text" required="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 mb-4">
                                        <label>Telefono</label>
                                        <input class="form-control" type="text" required="">
                                    </div>
                                    <div class="col-md-8 mb-4">
                                        <label>Email</label>
                                        <input class="form-control" type="email" readonly="" value="@Session["Correo"]">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 mb-4">
                                        <label>Contraseña</label>
                                        <input class="form-control" type="password" required="" value="******">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8 mb-4">
                                        <label>Repetir contraseña</label>
                                        <input class="form-control" type="password" required="" value="******">
                                    </div>
                                </div>
                                <div class="row mb-10">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i> Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}

