USE [master]
GO
/****** Object:  Database [sga]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE DATABASE [sga]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sga', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sga.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sga_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sga_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sga].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sga]
GO
/****** Object:  Schema [sga]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE SCHEMA [sga]
GO
/****** Object:  Table [sga].[acudiente]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[acudiente](
	[Acu_ID] [bigint] NOT NULL,
	[Acu_Doc] [nvarchar](50) NOT NULL,
	[Acu_Nom] [nvarchar](50) NOT NULL,
	[Acu_Apel] [varchar](200) NOT NULL,
	[Acu_Tel] [varchar](200) NOT NULL,
	[Acu_Email] [varchar](200) NOT NULL,
	[Acu_Passw] [varchar](200) NOT NULL,
	[Acu_FecReg] [date] NOT NULL,
	[Acu_Status] [int] NOT NULL,
 CONSTRAINT [PK_acudiente_Acu_ID] PRIMARY KEY CLUSTERED 
(
	[Acu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[administrador]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[administrador](
	[Adm_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Adm_Doc] [nvarchar](50) NOT NULL,
	[Adm_Nom] [nvarchar](50) NOT NULL,
	[Adm_Apel] [nvarchar](50) NOT NULL,
	[Adm_Tel] [nvarchar](50) NOT NULL,
	[Adm_Email] [nvarchar](100) NOT NULL,
	[Adm_Passw] [nvarchar](200) NOT NULL,
	[Adm_FecReg] [date] NOT NULL,
	[Adm_Status] [int] NOT NULL,
 CONSTRAINT [PK_administrador_Adm_ID] PRIMARY KEY CLUSTERED 
(
	[Adm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[alumno]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[alumno](
	[Alum_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Alum_Doc] [nvarchar](15) NOT NULL,
	[Alum_Nom] [nvarchar](50) NOT NULL,
	[Alum_Apel] [nvarchar](50) NOT NULL,
	[Alum_Tel] [nvarchar](50) NOT NULL,
	[Alum_Email] [nvarchar](100) NOT NULL,
	[Alum_Passw] [nvarchar](200) NOT NULL,
	[Alum_FecReg] [date] NOT NULL,
	[Alum_Status] [int] NOT NULL,
	[Acu_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_alumno_Alum_ID] PRIMARY KEY CLUSTERED 
(
	[Alum_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[alumno_clase]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[alumno_clase](
	[Alcl_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Alum_ID] [bigint] NOT NULL,
	[Per_ID] [bigint] NOT NULL,
	[Clas_ID] [bigint] NOT NULL,
	[Cal_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_alumno_clase_Alcl_ID] PRIMARY KEY CLUSTERED 
(
	[Alcl_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[calificaciones]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[calificaciones](
	[Cal_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Cal_N1] [float] NOT NULL,
	[Cal_N2] [float] NOT NULL,
	[Cal_N3] [float] NOT NULL,
	[Cal_NF] [float] NOT NULL,
 CONSTRAINT [PK_calificaciones_Cal_ID] PRIMARY KEY CLUSTERED 
(
	[Cal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[clase]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[clase](
	[Clas_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Mat_ID] [bigint] NOT NULL,
	[Doc_ID] [bigint] NOT NULL,
	[Clas_Capa] [int] NOT NULL,
	[Per_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_clase_Clas_ID] PRIMARY KEY CLUSTERED 
(
	[Clas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[dias]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[dias](
	[Dia_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Dia_Nom] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dias_Dia_ID] PRIMARY KEY CLUSTERED 
(
	[Dia_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[docente]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[docente](
	[Doc_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Doc_Doc] [nvarchar](50) NOT NULL,
	[Doc_Nom] [nvarchar](50) NOT NULL,
	[Doc_Apel] [nvarchar](50) NOT NULL,
	[Doc_Tel] [nvarchar](50) NOT NULL,
	[Doc_Email] [nvarchar](100) NOT NULL,
	[Doc_Passw] [nvarchar](200) NOT NULL,
	[Doc_FecReg] [date] NOT NULL,
	[Doc_Status] [int] NOT NULL,
 CONSTRAINT [PK_docente_Doc_ID] PRIMARY KEY CLUSTERED 
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[horario]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[horario](
	[Hor_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Dia_ID] [bigint] NOT NULL,
	[Hor_Ini] [date] NOT NULL,
	[Hor_Fin] [date] NOT NULL,
	[Clas_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_horario_Hor_ID] PRIMARY KEY CLUSTERED 
(
	[Hor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [sga].[materia]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[materia](
	[Mat_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Mat_Nom] [nvarchar](60) NOT NULL,
	[Mat_Desc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_materia_Mat_ID] PRIMARY KEY CLUSTERED 
(
	[Mat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [sga].[periodo]    Script Date: 18/05/2021 1:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sga].[periodo](
	[Per_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Per_Nom] [nvarchar](50) NOT NULL,
	[Per_Ini] [date] NOT NULL,
	[Per_Fin] [date] NOT NULL,
 CONSTRAINT [PK_periodo_Per_ID] PRIMARY KEY CLUSTERED 
(
	[Per_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [sga].[acudiente] ([Acu_ID], [Acu_Doc], [Acu_Nom], [Acu_Apel], [Acu_Tel], [Acu_Email], [Acu_Passw], [Acu_FecReg], [Acu_Status]) VALUES (1, N'7874545', N'Pedro', N'Picapiedra', N'887254', N'pedropica@mail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2001-07-21' AS Date), 1)
GO
SET IDENTITY_INSERT [sga].[administrador] ON 
GO
INSERT [sga].[administrador] ([Adm_ID], [Adm_Doc], [Adm_Nom], [Adm_Apel], [Adm_Tel], [Adm_Email], [Adm_Passw], [Adm_FecReg], [Adm_Status]) VALUES (1, N'123456', N'Brian', N'Cañon', N'478787', N'canonbrian123@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2001-07-21' AS Date), 1)
GO
SET IDENTITY_INSERT [sga].[administrador] OFF
GO
SET IDENTITY_INSERT [sga].[alumno] ON 
GO
INSERT [sga].[alumno] ([Alum_ID], [Alum_Doc], [Alum_Nom], [Alum_Apel], [Alum_Tel], [Alum_Email], [Alum_Passw], [Alum_FecReg], [Alum_Status], [Acu_ID]) VALUES (1, N'8998789', N'Juanito ', N'Gomez', N'8777855', N'juanito@mail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'0001-01-01' AS Date), 1, 1)
GO
SET IDENTITY_INSERT [sga].[alumno] OFF
GO
SET IDENTITY_INSERT [sga].[docente] ON 
GO
INSERT [sga].[docente] ([Doc_ID], [Doc_Doc], [Doc_Nom], [Doc_Apel], [Doc_Tel], [Doc_Email], [Doc_Passw], [Doc_FecReg], [Doc_Status]) VALUES (1, N'78764654', N'Carlos', N'Guevara', N'54545946', N'carlitos@mail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'0001-01-01' AS Date), 1)
GO
SET IDENTITY_INSERT [sga].[docente] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [acudiente$Acu_Doc]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[acudiente] ADD  CONSTRAINT [acudiente$Acu_Doc] UNIQUE NONCLUSTERED 
(
	[Acu_Doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [acudiente$Acu_Email]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[acudiente] ADD  CONSTRAINT [acudiente$Acu_Email] UNIQUE NONCLUSTERED 
(
	[Acu_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [administrador$Adm_Doc]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[administrador] ADD  CONSTRAINT [administrador$Adm_Doc] UNIQUE NONCLUSTERED 
(
	[Adm_Doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [administrador$Adm_Email]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[administrador] ADD  CONSTRAINT [administrador$Adm_Email] UNIQUE NONCLUSTERED 
(
	[Adm_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [alumno$Alum_Doc]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[alumno] ADD  CONSTRAINT [alumno$Alum_Doc] UNIQUE NONCLUSTERED 
(
	[Alum_Doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [alumno$Alum_Email]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[alumno] ADD  CONSTRAINT [alumno$Alum_Email] UNIQUE NONCLUSTERED 
(
	[Alum_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Acu_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Acu_ID] ON [sga].[alumno]
(
	[Acu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Alum_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Alum_ID] ON [sga].[alumno_clase]
(
	[Alum_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Cal_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Cal_ID] ON [sga].[alumno_clase]
(
	[Cal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Clas_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Clas_ID] ON [sga].[alumno_clase]
(
	[Clas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Per_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Per_ID] ON [sga].[alumno_clase]
(
	[Per_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Doc_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Doc_ID] ON [sga].[clase]
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Mat_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Mat_ID] ON [sga].[clase]
(
	[Mat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Per_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Per_ID] ON [sga].[clase]
(
	[Per_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [docente$Doc_Doc]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[docente] ADD  CONSTRAINT [docente$Doc_Doc] UNIQUE NONCLUSTERED 
(
	[Doc_Doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [docente$Doc_Email]    Script Date: 18/05/2021 1:59:22 p. m. ******/
ALTER TABLE [sga].[docente] ADD  CONSTRAINT [docente$Doc_Email] UNIQUE NONCLUSTERED 
(
	[Doc_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Clas_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Clas_ID] ON [sga].[horario]
(
	[Clas_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Dia_ID]    Script Date: 18/05/2021 1:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [Dia_ID] ON [sga].[horario]
(
	[Dia_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [sga].[acudiente] ADD  CONSTRAINT [DF__acudiente__Acu_F__398D8EEE]  DEFAULT (getdate()) FOR [Acu_FecReg]
GO
ALTER TABLE [sga].[administrador] ADD  DEFAULT (getdate()) FOR [Adm_FecReg]
GO
ALTER TABLE [sga].[alumno] ADD  DEFAULT (getdate()) FOR [Alum_FecReg]
GO
ALTER TABLE [sga].[docente] ADD  DEFAULT (getdate()) FOR [Doc_FecReg]
GO
ALTER TABLE [sga].[alumno]  WITH CHECK ADD  CONSTRAINT [alumno$alumno_ibfk_1] FOREIGN KEY([Acu_ID])
REFERENCES [sga].[acudiente] ([Acu_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[alumno] CHECK CONSTRAINT [alumno$alumno_ibfk_1]
GO
ALTER TABLE [sga].[alumno_clase]  WITH CHECK ADD  CONSTRAINT [alumno_clase$alumno_clase_ibfk_1] FOREIGN KEY([Cal_ID])
REFERENCES [sga].[calificaciones] ([Cal_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[alumno_clase] CHECK CONSTRAINT [alumno_clase$alumno_clase_ibfk_1]
GO
ALTER TABLE [sga].[alumno_clase]  WITH CHECK ADD  CONSTRAINT [alumno_clase$alumno_clase_ibfk_2] FOREIGN KEY([Alum_ID])
REFERENCES [sga].[alumno] ([Alum_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[alumno_clase] CHECK CONSTRAINT [alumno_clase$alumno_clase_ibfk_2]
GO
ALTER TABLE [sga].[alumno_clase]  WITH CHECK ADD  CONSTRAINT [alumno_clase$alumno_clase_ibfk_3] FOREIGN KEY([Per_ID])
REFERENCES [sga].[periodo] ([Per_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[alumno_clase] CHECK CONSTRAINT [alumno_clase$alumno_clase_ibfk_3]
GO
ALTER TABLE [sga].[alumno_clase]  WITH CHECK ADD  CONSTRAINT [alumno_clase$alumno_clase_ibfk_4] FOREIGN KEY([Clas_ID])
REFERENCES [sga].[clase] ([Clas_ID])
GO
ALTER TABLE [sga].[alumno_clase] CHECK CONSTRAINT [alumno_clase$alumno_clase_ibfk_4]
GO
ALTER TABLE [sga].[clase]  WITH CHECK ADD  CONSTRAINT [clase$clase_ibfk_1] FOREIGN KEY([Per_ID])
REFERENCES [sga].[periodo] ([Per_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[clase] CHECK CONSTRAINT [clase$clase_ibfk_1]
GO
ALTER TABLE [sga].[clase]  WITH CHECK ADD  CONSTRAINT [clase$clase_ibfk_2] FOREIGN KEY([Mat_ID])
REFERENCES [sga].[materia] ([Mat_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[clase] CHECK CONSTRAINT [clase$clase_ibfk_2]
GO
ALTER TABLE [sga].[clase]  WITH CHECK ADD  CONSTRAINT [clase$clase_ibfk_3] FOREIGN KEY([Doc_ID])
REFERENCES [sga].[docente] ([Doc_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[clase] CHECK CONSTRAINT [clase$clase_ibfk_3]
GO
ALTER TABLE [sga].[horario]  WITH CHECK ADD  CONSTRAINT [horario$horario_ibfk_1] FOREIGN KEY([Clas_ID])
REFERENCES [sga].[clase] ([Clas_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[horario] CHECK CONSTRAINT [horario$horario_ibfk_1]
GO
ALTER TABLE [sga].[horario]  WITH CHECK ADD  CONSTRAINT [horario$horario_ibfk_2] FOREIGN KEY([Dia_ID])
REFERENCES [sga].[dias] ([Dia_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [sga].[horario] CHECK CONSTRAINT [horario$horario_ibfk_2]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.acudiente' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'acudiente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.administrador' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'administrador'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.alumno' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'alumno'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.alumno_clase' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'alumno_clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.calificaciones' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'calificaciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.clase' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.dias' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'dias'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.docente' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'docente'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.horario' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'horario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.materia' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'materia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'sga.periodo' , @level0type=N'SCHEMA',@level0name=N'sga', @level1type=N'TABLE',@level1name=N'periodo'
GO
USE [master]
GO
